
*.swp
.vimrc
.viminfo
.vimgrep
.vimspec
.vimmarks

.test-point

pkg/

.ruby-version
#.rspec

#.errors
#.rspec.out
#.bxsinfo.yaml
#.bxsenvs.yaml
.probatio-output.rb

.todo.md

.chat.md
.openai.*

Gemfile.lock

tmp/


