
*.swp
.vimrc
.viminfo
.vimgrep
.vimspec
.vimmarks
.vimfuzz2

.test-point

pkg/

.ruby-version
#.rspec

#.errors
#.rspec.out
#.bxsinfo.yaml
#.bxsenvs.yaml
.probatio-*

.todo.md

.chat.md
.openai.*
.claude*
.klaude.*

Gemfile.lock

tmp/


